
name: Build Open Data Index

on:
  schedule:
    - cron: '0 0 * * 0'  # Run weekly at midnight on Sunday
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install

      - name: Build index
        run: python build_index.py
        
      # - name: Set flag for release
      #   id: releaseflag
      #   run: |
      #     if git diff --staged --quiet; then
      #       echo "no_changes=true" >> $GITHUB_OUTPUT
      #     else
      #       echo "no_changes=false" >> $GITHUB_OUTPUT
      #     fi
  
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated update: Update opendata.db"
          file_pattern: 'opendata.db'

      # - name: Create Release
      #   if: steps.releaseflag.outputs.no_changes == 'false'
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: v${{ github.run_number }}
      #     release_name: Data Index - v${{ github.run_number }}
      #     body: |-
      #       Automated data index update.
      #     draft: false
      #     prerelease: false

      # - name: Upload Release Asset
      #   if: steps.commit.outputs.no_changes == 'false'
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./opendata.parquet
      #     asset_name: opendata.parquet
      #     asset_content_type: application/parquet
