
name: Build Open Data Index

on:
  schedule:
    - cron: '0 0 * * 0'  # Run weekly at midnight on Sunday
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install

      - name: Build index
        run: python build_index.py
        
      - name: Set flag for release
        id: releaseflag
        run: |
          if [ -e "new_release.txt" ]; then
            echo "no_changes=false" >> $GITHUB_OUTPUT
          else
            echo "no_changes=true" >> $GITHUB_OUTPUT
          fi
  
      - name: Commit and push changes
        if: steps.releaseflag.outputs.no_changes == 'false'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated update: Update opendata.db"
          file_pattern: 'opendata.db'

      - name: Create Release
        if: steps.releaseflag.outputs.no_changes == 'false'
        uses: softprops/action-gh-release@v2
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: opendata.parquet
          body: |-
            Automated data index update.
          name: Data Index - v${{ github.run_number }}
          tag_name: v${{ github.run_number }}
